<h1 class="text-center"><%= @article.title%></h1>
<div class="container">
	<div class="row justify-content-md-center">
		<div class="col-lg-6 col-md-8 col-sm-12">
			<%= render "article", article:@article %>
			<%= link_to 'Return to articles listing', articles_path, class: "btn btn-info", style:"margin:10px" %>
		</div>
	</div>
</div>
