@import "bootstrap/dist/css/bootstrap";

.navbar {
	background-color: #000000 !important;
}

.nav-link{
  color: white !important;
}

.navbar-brand{
  font-size: 1.7em;
  color: #fff !important;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#home-container{
  margin-top: 25px;
}

.jumbotron{
  background-image: asset-url(jumbo_copy);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  color: #fff;
  text-align: center;
}

.sticky-footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  margin-top: 10px;
}

.card{
  margin: 10px;
}

.crte_btn{
  margin: 10px;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}