<div class="footer">
	<footer class="py-4 bg-dark text-white sticky-footer">
		<div class="container text-center">
			<small>Copyright &copy; github.com/uma-mahesh-WAR</small>
		</div>
	</footer>
</div>
